#homepage {
	
	header {

		&.header-area {
			background-color: transparent;
		}

		.container {
			position: relative;
			padding: 0;
		}

		.header-top {
			position: absolute;
			width: 100%;
			z-index: 1;
		}

		.row {
			margin: 0;
		}
	}

	section.welcome-area {
		padding: 50px 0;
		
		h1 {
			color: $gec-green-1;
			margin: 0 0 40px 0;
			text-align: center;
		}
	}

	div.welcome-video {
		border: 1px solid $gec-gray-3;
		padding: 10px;

		video {
			display: block;
		}
	}
}

@keyframes moveright {
    0% {
        transform: translateX(-25%);
        opacity: 0;
    }
    60% {
        transform: translateX(0);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }    
}

@keyframes moveleft {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    60% {
        transform: translateX(0);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }    
}

@keyframes moveup {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    60% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }    
}