#project-list {
	
	section.project-list-area {
		padding: 50px 0;
		
		h1 {
			color: $gec-green-1;
			margin: 0 0 40px 0;
			text-align: center;

			span {
				color: $gec-gray-2;
			}
		}

		h3 {
			color: $gec-yellow-2;
			font-family: $gec-font-raleway-semi-bold;
			font-size: 28px;
			margin-top: 50px;
		}

		p.description {
			margin-bottom: 0;
		}

		a.read-more {
			color: $gec-red-1;
		}
	}
}