/* ********** Our Projects : Start ********** */
section.projects-area {
	background: $gec-yellow-1;
	border-top: 3px solid $gec-white-1;
	padding: 50px 0;

	h1 {
		color: $gec-gray-2;
		margin: 0 auto;
		margin-bottom: 50px;
		text-align: center;			
		width: 70%;


		span {
			color: $gec-red-1;
		}
	}

	div.status-projects {
		div.details {
			margin-bottom: 20px;
			position: relative;
            transform: scale(0.9);
            transition: all 0.2s linear;

			img {
				width: 100%;
				height: auto;
			}
            
            &:hover {
                transform: scale(1.1);
            }
            
			div {
				background: $gec-yellow-2;
				color: $gec-white-1;
				font-family: $gec-font-raleway-bold;
				font-size: 25px;
				left: 10%;
				padding: 10px 0;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: 40%;
				width: 80%;

				span {
					background: $gec-white-1;
					bottom: 3px;
					display: block;
					height: 2px;
					position: absolute;						
					width: 100%;
				}
			}

		}

		a.more {
			background-color: $gec-green-1;
			color: $gec-white-1;
			display:block;
			height: 50px;
			display: table;
			width: 100%;

			span {				
				display: table-cell;
				font-family: $gec-font-raleway-semi-bold;
				font-size: 25px;
				text-align: center;
				vertical-align: middle;
				width: 75%;

				& + span {
					background-color: $gec-gray-4;
					width: 25%;
				}
			}

			img {
				transform: scale(0.5);
				transition: all 0.3s;
			}

			&:hover {
				text-decoration: none;
				img {
					transform: scale(1);
				}			
			}
		}			
	}
}
/* ********** Our Projects : End ********** */