// GEC colors
$gec-black-1: #000000;

$gec-blue-1: #4b8eda;
$gec-blue-2: #266bb9;

$gec-green-1: #499222;
$gec-green-2: #3a8213;

$gec-gray-1: #727374;
$gec-gray-2: #484949;
$gec-gray-3: #c3bfbf;
$gec-gray-4: #484949;
$gec-gray-5: #0e0e0e;
$gec-gray-6: #c6c9c6;
$gec-gray-7: #c3c1c1;

$gec-red-1: #f12727;

$gec-yellow-1: #ffd36b;
$gec-yellow-2: #f0af15;
$gec-yellow-3: #d69b0f;
$gec-yellow-4: #f6d229;

$gec-red-1: #f70e13;

$gec-white-1: #ffffff;
$gec-white-2: #f8f7f7;
$gec-white-3: #ecedec;


// fonts
$gec-font-raleway-regular: "Raleway Regular", Helvetica, Arial, sans-serif;
$gec-font-raleway-semi-bold: "Raleway SemiBold", Helvetica, Arial, sans-serif;
$gec-font-raleway-bold: "Raleway Bold", Helvetica, Arial, sans-serif;