@mixin gec-form-control ($color: $gec-white-1, $bordercolor: $gec-white-1) {
	background-color: transparent;
	border-color: $color;
	border-radius: 0;
	color: $bordercolor;	
}

@mixin gec-form-control-focus ($color: $gec-white-1) {
	$color-rgba: rgba(red($color), green($color), blue($color), .6);
	&:focus {
	    border-color: $color;
	    outline: 0;
	    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);	
	}
}

@mixin gec-placeholder($color: $gec-white-3) {
	&::-webkit-input-placeholder {
	   color: $gec-white-3;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $gec-white-3;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $gec-white-3;  
	}

	&:-ms-input-placeholder {  
	   color: $gec-white-3;  
	}  
}