.nav-mask {
   
    top: 0;
    left: 0;
    width: 0;
    height: 0;    
	opacity: 0;
    z-index: 2;

    cursor: pointer;
	position: fixed;

    background-color: #000;
    
    
    // transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition-property: opacity, width, height;
    transition-duration: 0.3s, 0s, 0s;
    transition-delay: 0s, 0.3s, 0.5s;

    &.is-active {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        // transition: opacity 0.3s;
        transition-delay: 0s, 0s, 0s;
    }
}

body.has-active-menu {
	overflow: hidden;
}

.gec-menu {
	position: fixed;
	z-index: 3;
	background-color: $gec-yellow-2;
	transition: transform 0.3s;

	&.gec-menu-slide-right {
	    top: 0;
	    right: 0;
	    
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);

	    width: 100%;
	    height: 100%;
	    overflow-y: auto;

		&.is-active {
		    -webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		    transform: translateX(0);
		}

		.gec-menu-items {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.gec-menu-item {
		    display: block;
		    border-bottom: dashed 1px $gec-white-1;
		}	

		.gec-menu-link {
		    display: block;
		    padding: 12px 24px;
		    color: $gec-white-1;
		    text-decoration: none;
		    text-transform: uppercase;
			
		    &:hover {
		    	background-color: $gec-white-1;
		    	color: $gec-yellow-2;
				border-bottom: 2px solid $gec-yellow-2;
		    	border-top: 2px solid $gec-yellow-2;
		    	padding: 10px 24px;

		    	i.fa {
		    		border: 1px solid $gec-yellow-2;
		    	}
		    }

			i.fa {
				border: 1px solid $gec-white-1;
				border-radius: 50%;

				width: 40px;
				height: 40px;

				text-align: center;

				&:before {
					display: inline-block;
					margin-top: 12px;
				}
			} 
		}

		.gec-menu-close {
			background-color: $gec-green-2;
			color: $gec-white-1;

			display: block;
			padding: 12px 24px;
            text-decoration: none;
            text-transform: uppercase;
            
            i.fa {
                border: 1px solid $gec-white-1;
                border-radius: 50%;
                padding: 10px 12px;
            }
		}
	}	
}

@media all and (min-width: 768px) {
	.gec-menu {
	    &.gec-menu-slide-right {
	        -webkit-transform: translateX(300px);
	        -ms-transform: translateX(300px);
	        transform: translateX(300px);

	        width: 300px; 
	    }
	}
}