@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

a:hover {
    text-decoration: none;
}

#cssmenu {
    background: #333333;
    font-family: Montserrat, sans-serif;
}

#cssmenu li,
#cssmenu a {
    display: block;
    position: relative;
}

#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu > ul > li {
    float: left;
}

#cssmenu > ul > li > a {
    color: #dddddd;
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px;
    text-transform: uppercase;
}

#cssmenu > ul > li:hover > a {
    color: #FFF;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
    background: #dddddd;
    
    content: '';
    
    position: absolute;
    width: 8px;
    height: 2px;
}